<p>
<h2><u>Administrator Functions</u></h2>
<p>
	<%= button_to 'Products', admin_products_path, method: :get %>
	
	<%= button_to 'Customers', admin_customers_path, method: :get%>
	
	<%= button_to 'Orders' %>
	
<p>