
/*Main Content*/

body
{
	font-family: Cooper Black;
	text-align:center;
}


/*header*/
#header
{
	font-family: Algerian;
	color: #F56525;
 	font-size:40px ;
}

#header img
{
	height:150px;
	width:150px;	
}

/*footer*/
#footer
{
	background: ;
	width:100%;
	height:auto; 
	margin-top:10px;
	color:	; 

}



