
/*body*/

body
{
	font-family: Cooper Black;
	text-align:center;
	background-color: Black;
	color: #FFFFFF;
}


/*header*/
#header
{
	font-family: Algerian;
	color: #000000;
 	font-size:40px ;
 	background-color: #FFFFFF;
}

#header img
{
    padding-top:25px;
	height:150px;
	width:150px;	
}

/*footer*/
#footer
{
	width:100%;
	height:auto; 
	margin-top:10px; 
}



