
<hr / >
<center>
<table border =1>

 <tr>
	<th><b>Product</b></th>
	<th><b>Description</b></th>
	<th><b>Price</b></th>
 </tr>
<% @products.each do |product| %>
 <tr>
	<td><%= product.name %></td>
	<td><%= product.description %></td>
	<td><%= product.price %></td>
	<td><%= button_to "Add to Cart" %>
 </tr>
<% end %>
</table>
</center>