<hr />
<div id = "footer">
	<div>
		<%= link_to 'Home', root_path %>
	</div>
</div>

</br>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Administrator", administrator_path %>
  <% end %>
</div>
